In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm

In [3]:
root_path = './Dataset/SARS-COV-2/'

class_dict = {
    'non-COVID':0,
    'COVID':1
}

rev_dict = {
    0:'non-COVID',
    1:'COVID'
}

image_paths = []
image_labels = []

for label in tqdm(os.listdir(root_path)):
    if(label=='COVID' or label=='non-COVID'):
        class_path = os.path.join(root_path, label+'/')
        print(f'Class Label: {label}, Total Samples: {len(os.listdir(class_path))}')
        for img in os.listdir(class_path):
            img_path = os.path.join(class_path, img)
            img_label = class_dict[label]

            image_paths.append(img_path)
            image_labels.append(img_label)

100%|███████████████████████████████████████████████████████████████████████████████████| 7/7 [00:00<00:00, 773.06it/s]

Class Label: COVID, Total Samples: 1252
Class Label: non-COVID, Total Samples: 1229

In [4]:
df = pd.DataFrame({'path':image_paths, 'label':image_labels})
df.head()

                                          path  label
0     ./Dataset/SARS-COV-2/COVID/Covid (1).png      1
1    ./Dataset/SARS-COV-2/COVID/Covid (10).png      1
2   ./Dataset/SARS-COV-2/COVID/Covid (100).png      1
3  ./Dataset/SARS-COV-2/COVID/Covid (1000).png      1
4  ./Dataset/SARS-COV-2/COVID/Covid (1001).png      1

### Split Dataset

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
_train_df, val_df = train_test_split(df, 
                                     test_size=0.1, 
                                     shuffle=True, 
                                     random_state=42)
print(_train_df.shape, val_df.shape)

(2232, 2) (249, 2)

In [7]:
val_df.head()

                                                   path  label
254         ./Dataset/SARS-COV-2/COVID/Covid (1227).png      1
621          ./Dataset/SARS-COV-2/COVID/Covid (430).png      1
1730  ./Dataset/SARS-COV-2/non-COVID/Non-Covid (322)...      0
1792  ./Dataset/SARS-COV-2/non-COVID/Non-Covid (379)...      0
819          ./Dataset/SARS-COV-2/COVID/Covid (609).png      1

In [8]:
train_df, test_df = train_test_split(_train_df, 
                                     test_size=0.1, 
                                     shuffle=True, 
                                     random_state=42)
print(train_df.shape, test_df.shape)

(2008, 2) (224, 2)

### Save Dataframe

In [10]:
train_df.to_csv(root_path+'train.csv', index=False)
test_df.to_csv(root_path+'test.csv', index=False)
val_df.to_csv(root_path+'val.csv', index=False)

In [11]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2008 entries, 1694 to 371
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   path    2008 non-null   object
 1   label   2008 non-null   int64
dtypes: int64(1), object(1)
memory usage: 47.1+ KB